#popup {
    display: none;
}

.popup-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #22222255;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
}

.popup {
    padding: 20px 30px;
    border-radius: 15px;
    background-color: var(--bg-color);
}

.popup > h2 {
    margin-bottom: 10px;
    font-size: 32px;
}

.popup > p {
    margin-bottom: 10px;
    font-size: 20px;
}

.popup-button {
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px 15px;
    font-size: 20px;
}
